django==1.2.3
django-grappelli==2.3
django-picklefield
django-timezones
gdata==2.0.14
python-dateutil==1.5
icalendar
isodate
lxml
pytz

-e git://github.com/cilcoberlin/cilcdjango.git@v0.1.3#egg=cilcdjango
https://bitbucket.org/jespern/django-piston/downloads/django-piston-0.2.2.tar.gz
