
//  Abstract background colors
$panoptes-page-bg-color: #fff;
$panoptes-header-bg-color: #333;
$panoptes-error-bg-color: #fcc;

//  Abstract text colors
$panoptes-page-text-color: #333;
$panoptes-header-text-color: #fff;
$panoptes-header-text-shadow-color: #000;
$panoptes-header-text-accent-color: #ffc;


