{% extends "panoptes/accounts/log_base.html" %}

{% load i18n %}

{% block title %}{% trans "Logged Out" %}{% endblock %}
{% block page_title %}{% trans "Logged Out" %}{% endblock %}

{% block body_classes %}{{ block.super }} login{% endblock %}

{% block content %}

	<div id="logged-out">
	    <h3 class="subtitle">{% trans "You have successfully logged out." %}</h3>
	    <p>
			{% url login as login_url %}
			{% blocktrans with login_url as login_url %}
				You can now <a href="{{ login_url }}">log in</a> as a different user.
			{% endblocktrans %}
		</p>
	</div>

{% endblock %}

