
@import "../../../settings";
@import "../../../../core/mixins";

$graph-height: 30em;
$graph-height-ems: 30;
$y-label-width: 3em;

#panel-chart .content {
	padding-left: $y-label-width;
}

#panel-chart .chart.bar {

	border-bottom: 1px solid $data-border-color;
	height: $graph-height;
	position: relative;
	width: 100%;

	caption {
		display: none;
		text-align: left;
	}
	thead {
		display: none;
	}

	.y-labels {
		background-color: transparent;
		height: 100%;
		margin-left: -#{$y-label-width};
		position: absolute;
		width: 100%;
		z-index: -1;

		.label {
			display: block;

			.x {
				border-bottom: 1px solid $data-border-color;
				display: block;
				position: absolute;
				width: 100%;
			}
			.y {
				border-right: 1px dotted $data-border-color;
				font-weight: bold;
				line-height: 1.5em;
				position: absolute;
				text-align: center;
				width: $y-label-width;
			}
		}
	}

	//  Make the y-label height match the number of labels
	@for $i from 1 through 10 {
		$label-height: (1 / $i) * 100%;
		.y-labels.labels__#{$i} .label {
			height: $label-height;
			.y { height: $label-height; }
		}
	}

	.points {
		display: table-row-group;
		display: table-footer-group;
	}

	.point {
		cursor: pointer;
		display: table-cell;
		position: relative;
		vertical-align: bottom;

		.x {
			display: none;
		}
		.y {
			display: block;
			width: 90%;

			.detail-link {
				background-color: $data-bg-color;
				display: block;
				min-width: 0.25em;
				text-indent: -9000em;
			}

			.bar-chart-detail {
				background: $page-bg-color;
				border: 1px solid $data-bg-color;
				font-weight: bold;
				line-height: 1.5em;
				padding: 0.75em 1.5em;
				position: absolute;
				@include rounded("all", 1.5em);
				text-align: center;
				z-index: 9001;
			}
		}
	}

	.point.keypoint {
		.x {
			border-left: 1px solid $data-secondary-border-color;
			bottom: -1.5em;
			display: block;
			line-height: 1.5em;
			padding-left: 0.375em;
			padding-top: $graph-height;
			position: absolute;
			z-index: -1;
		}
		.y {
			border-left: 1px solid $data-border-color;
		}
	}

	.point.active {
		.detail-link {
			background-color: $data-bg-emphasis-color;
		}
	}
	.point.chosen {
		.detail-link {
			background-color: $data-bg-strong-color;
		}
	}

	//  Set widths for each data point by using a class attribute that contains
	//  the percentage of the data relative to the maximum value
	@for $i from 1 through 100 {
		.y.percent__#{$i} .detail-link {
			height: #{$graph-height-ems * (0.01 * $i)}em;
		}
	}
	.no-data .detail-link {
		height: 1px;
	}

	//  Show all app labels above the app's bar and hide any unused apps
	&.x__apps {
		.no-data {
			display: none;
		}
		.point {
			.x {
				border: none;
				display: table-cell !important;
				font-size: 0.833em;
				line-height: 1em;
				padding: 0.9em 0;
				position: relative;
				vertical-align: top;
			}
		}
	}



}
