<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>

	<meta http-equiv="Content-Language" content="en-us" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	{% block all_css %}

		<link type="text/css" rel="stylesheet" media="all" href="{{ MEDIA_URL }}panoptes/css/core.css" />

		{% block css %}{% endblock %}

	{% endblock %}

	<title>{% block title %}{% endblock %} | Panoptes</title>

</head>
<body class="panoptes {% block body_classes %}{% endblock %}">

	{% block body %}{% endblock %}

	{% block all_javascript %}

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}panoptes/js/core/init.js"></script>

		{% block javascript %}{% endblock %}

	{% endblock %}

</body>
</html>
